---
- name: Install Nomad
  ansible.builtin.apt:
    name: nomad
    state: present

- name: Install base config
  template:
    src: 10-base.hcl.j2
    dest: /etc/nomad.d/10-base.hcl
    owner: nomad
    group: nomad
    mode: 0640
  notify:
    - restart-nomad

- name: Enable and start Nomad service
  ansible.builtin.service:
    name: nomad
    enabled: true
    state: started
  delegate_to: local-host
  become: true